.father {
  display: grid;
  grid-template-columns: [cucumber] 100px [potato] 200px [banana] 50px [brocoli];
  grid-template-rows: [korea] 200px [thailand] 100px [greece];
  gap: 10px;
}

.child {
  background-color: tomato;
  display: flex;
  color: white;
  font-size: 28px;
  justify-content: center;
  align-items: center;
}

.child:first-child {
  /* grid-row-start: 1;
  grid-row-end: -1;
  grid-row: korea/gree; */
  background-color: khaki;
  grid-row: span 2;
}

.child:last-child {
  /* grid-column-start: 2;
  grid-column-end: -1;
  grid-column: potato/brocoli; */
  background-color: aqua;
  grid-column: span 2;
}
