@import "./reset.scss";

$grey: #dbe0e0;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bbbebe;
}

.phone {
  width: 480px;
  height: 90%;
  border-radius: 10px;
  background-color: #c6caca;
  box-shadow: 5px 10px 10px rgba($color: #000000, $alpha: 0.5);
}

.header {
  padding: 50px 15px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__title {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.total {
  background-color: #1e1414;
  padding: 30px 15px;
  color: $grey;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  gap: 10px;

  .total__price {
    font-size: 22px;
  }

  .total__subtitle {
    font-size: 14px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .item {
    background-color: #d7dbdb;
    border-top: 3px solid black;
    position: relative;
    .item__info {
      padding: 30px 15px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .item__info-col {
        font-weight: bold;

        display: flex;
        flex-direction: column;
        gap: 5px;
        &:nth-child(2) {
          align-items: flex-end;
        }

        .item__title {
          font-size: 42px;
          text-transform: uppercase;
        }
        .item__subtitle {
          font-size: 14px;
        }
        .item__total-price {
          font-size: 34px;
        }
        .item__piece-price {
          font-size: 14px;
        }
      }
    }
  }
}

.item__specs {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, 125px);
  .spec {
    padding: 25px;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    &:last-child {
      border-left: 3px solid black;
    }
  }
}

.item__photo {
  position: absolute;
  width: 30%;
  height: 60%;
  border: 3px solid black;
  right: 15px;
  bottom: 0.5px;
  object-fit: cover;
}
