@import "./reset.scss";

$green: #35e713;
$grey: #d9d9d9;
$lightGrey: #f0f0f0;

@keyframes top-slide {
  0% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-25%);
  }
}

@keyframes bottom-slide {
  0% {
    transform: translateX(25%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(25%);
  }
}

@keyframes left-slide {
  0% {
    transform: translateY(5000%) rotateZ(90deg);
  }
  50% {
    transform: translateY(0%) rotateZ(90deg);
  }
  100% {
    transform: translateY(5000%) rotateZ(90deg);
  }
}

@keyframes right-slide {
  0% {
    transform: translateY(-5000%) rotateZ(-90deg);
  }
  50% {
    transform: translateY(0%) rotateZ(-90deg);
  }
  100% {
    transform: translateY(-5000%) rotateZ(-90deg);
  }
}

body {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px 1fr 50px;
}

.corner {
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  background-color: $green;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  span {
    font-weight: 600;
    position: absolute;
    width: max-content;
  }
  &:first-child,
  &:last-child {
    grid-column: span 3;
  }

  &:first-child {
    span {
      animation: top-slide 20s linear infinite;
    }
  }

  &:nth-child(2) {
    span {
      animation: top-slide 20s linear infinite;
    }
  }

  &:nth-child(4) {
    span {
      animation: right-slide 20s linear infinite;
    }
  }

  &:nth-child(6) {
    span {
      animation: right-slide 20s linear infinite;
    }
  }

  &:nth-child(8) {
    span {
      animation: bottom-slide 20s linear infinite;
    }
  }
}

.main {
  background-color: black;
  display: grid;
  gap: 1px;
  grid-template-columns: repate(8, 1fr);
  grid-template-rows: 1.5fr repeat(2, 1fr) 2fr repeat(2, 1fr);
  height: calc(100vh - 100px);

  .light {
    background-color: $lightGrey;

    &.diary {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .date {
        width: 100%;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
      }

      .content {
        div {
          &:last-child {
            font-weight: 400;
            font-size: 12px;
            padding-top: 20px;
          }
        }
      }
    }
  }

  .email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    .send-email {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
      span {
        &:first-child {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
  }

  > div {
    background-color: $grey;
    position: relative;

    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;

    // img 태그가 있다면?!

    &:has(img) {
      padding: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .subtitle {
      color: $grey;
      font-size: 15px;
      padding-left: 10px;
    }

    &:nth-child(5) {
      grid-column: span 2;
    }
    &:nth-child(7) {
      grid-area: span 3 / span 2;
    }
    &:nth-child(8) {
      grid-column: span 4;
    }
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12) {
      grid-column: span 2;
    }

    &:nth-child(11) {
      border-bottom-right-radius: 15px;
    }

    &:nth-child(12) {
      border-bottom-left-radius: 15px;
    }

    &:nth-child(13) {
      grid-area: span 2 / span 4;
      border-top-right-radius: 15px;
    }

    &:nth-child(14) {
      grid-area: span 2 / span 2;
      border-top-left-radius: 15px;
    }
  }

  .empty {
    background-color: $grey !important;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="black" /></svg>');
  }
  .title {
    grid-column: span 8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 200px;
    text-transform: uppercase;
  }
}
