@import "./reset.scss";

$bg: #dde1d3;
$blue: #00a0c8;
$red: #d03022;
$burntRed: #573533;

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.poster {
  background-color: $bg;
  padding: 20px;
  box-sizing: border-box;
  width: 37%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 90px 1.2fr 90px 1fr 90px 1.2fr 90px;

  .box {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: end;
    align-items: flex-start;

    h1 {
      font-size: 55px;
    }

    &:nth-child(11) {
      justify-content: space-between;
    }

    &:first-child {
      grid-column: span 3;
      background-color: $blue;
    }
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(9) {
      background-color: $blue;
    }

    &:nth-child(5),
    &:nth-child(7) {
      background-color: $burntRed;
    }

    &:nth-child(6),
    &:nth-child(10),
    &:nth-child(12) {
      background-color: $red;
    }

    &:last-child {
      grid-column: span 3;
      background-color: $red;
    }

    &:nth-child(5),
    &:nth-child(7) {
      grid-row: span 3;
    }
  }
}
